{% extends "base_generic.html" %}

{% block content %]
	{% if validlink %}
		<p>please enter (and confirm) your new password.</p>
		<form action = "" method = "post">
		{% csrf token %}
			<table>
				<tr>
					<td>{{ form.new_password1.errors }}
						<label for = "id_new_password1">New password:</label></td>
					<td>{{form.newpasword1 }}</td>
				</tr>
				<tr>
					<td>{{ form.new_password2.errors }}
						<label for = "id_new_password2">confirm password:</label></td>
					<td>{{ form.new_password2 }}</td>
				</tr>
			</table>
		</form>
	{% else %}
		<h1>password reser failed</h1>
		<p>The Password reset link was invalid, possible because it has already been used. please request a new password reset.</p>
	{% endif %}
{% endblock %}